
PagarMeTest/ServicesTest/PagarMeServiceTest.cs
PagarMeTest/PagarMeTest.csproj
PagarMeTest/obj/project.nuget.cache
PagarMeTest/obj/project.assets.json
PagarMeTest/obj/PagarMeTest.csproj.nuget.g.targets
PagarMeTest/obj/PagarMeTest.csproj.nuget.g.props
PagarMeTest/obj/PagarMeTest.csproj.nuget.dgspec.json
PagarMeTest/obj/Debug/net8.0/PagarMeTest.GlobalUsings.g.cs
PagarMeTest/obj/Debug/net8.0/PagarMeTest.GeneratedMSBuildEditorConfig.editorconfig
PagarMeTest/obj/Debug/net8.0/PagarMeTest.csproj.AssemblyReference.cache
PagarMeTest/obj/Debug/net8.0/PagarMeTest.assets.cache
PagarMeTest/obj/Debug/net8.0/PagarMeTest.AssemblyInfoInputs.cache
PagarMeTest/obj/Debug/net8.0/PagarMeTest.AssemblyInfo.cs
PagarMeTest/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
PagarMeTest/ControllersTest/TransactionControllersTest.cs
PagarMeTest/bin/Debug/net8.0/CoverletSourceRootsMapping_PagarMeTest
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectEvaluation/ploomes.pagarmeapi.strings.v9.bin
.vs/ProjectEvaluation/ploomes.pagarmeapi.projects.v9.bin
.vs/ProjectEvaluation/ploomes.pagarmeapi.metadata.v9.bin
.vs/Ploomes.PagarmeAPI/v17/DocumentLayout.json
.vs/Ploomes.PagarmeAPI/v17/DocumentLayout.backup.json
.vs/Ploomes.PagarmeAPI/v17/.wsuo
.vs/Ploomes.PagarmeAPI/v17/.suo
.vs/Ploomes.PagarmeAPI/v17/.futdcache.v2
.vs/Ploomes.PagarmeAPI/FileContentIndex/b8585afa-86df-4d58-9959-56b5f2882109.vsidx
.vs/Ploomes.PagarmeAPI/FileContentIndex/b478b5b6-268c-4710-974f-4d987b4ef2c2.vsidx
.vs/Ploomes.PagarmeAPI/FileContentIndex/1556855d-0af7-479c-a72d-802b0111308c.vsidx
.vs/Ploomes.PagarmeAPI/FileContentIndex/0e458802-53b0-4f68-9ecd-265f75c1d072.vsidx
.vs/Ploomes.PagarmeAPI/FileContentIndex/025986f0-2ac2-4b70-8e29-1ad208cd8c7b.vsidx
.vs/Ploomes.PagarmeAPI/DesignTimeBuild/.dtbcache.v2
